// Docs: https://github.com/YaLTeR/niri/wiki
//// XKB ////
input {
    keyboard {
        xkb {
            layout "cmk,us,ara"
            options "grp:win_space_toggle,altwin:menu_win"
        }
        repeat-delay 400
        repeat-rate 60
        numlock
    }
    mouse {
        accel-profile "flat"
    }
    focus-follows-mouse max-scroll-amount="40%"
}
//// Display ////
output "DP-1" {
    mode "1920x1080@165.003"
}
//// Start-up ////
// spawn-at-startup "xwayland-satellite"
// spawn-at-startup "xwayland-satellite" ":1"
spawn-at-startup "sh" "-c" "DISPLAY=:1 setxkbmap us"
spawn-at-startup "mako"
spawn-at-startup "vicinae" "server"
/// Misc
// No client side decorations
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot %Y-%m-%d %H:%M:%S.png"
window-rule {
    match app-id="zen$" title="^Picture-in-Picture$"
    open-floating true
}
// window-rule {
//     match app-id="^jetbrains" title="^$" // wayland
//     match app-id="^jetbrains" title="^ $" // X11
//
//     open-focused false
//     open-floating true
// }
window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}
hotkey-overlay {
    skip-at-startup
}
cursor {
    xcursor-size 24
}
debug {
    honor-xdg-activation-with-invalid-serial
}
